---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

<hr />
更多文章：
<ul>
{% for post in site.posts limit:10 %}
  <li>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      <span ><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
  </li>
{% endfor %}
</ul>

<hr />
{% assign tagStr = '' %}
{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
{% if page.shortUrl != null %}
{% assign url = page.shortUrl %}
{% for tag in page.tags %}
{% capture len %}{{ tagStr | append: tag | append: page.title | append: page.subtitle }}{% endcapture %}
{% if len.size < 100 %}
{% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
{% endif %}
{% endfor %}
{% endif %}
<p class="social-share-text no-indent">Share</p>
<div class="social-share">
<a class="social-share-element social-twitter" 
    href="https://twitter.com/intent/tweet?text={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}&via=starv8132&hashtags={{ tagStr }}" 
    target="_blank" title="Share this post on Twitter"></a>
<a class="social-share-element social-facebook" 
    href="https://www.facebook.com/sharer/sharer.php?t={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&u={{ url }}" 
    target="_blank" title="Share this post on Facebook"></a>
<a class="social-share-element social-google" 
    href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" 
    target="_blank" title="Share this post on Google Plus"></a>
<a class="social-share-element social-linkedin" 
    href="http://www.linkedin.com/shareArticle?mini=true&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}&source=http%3a%2f%2fviewstar000.github.io" 
    target="_blank" title="Share this post on LinkedIn"></a>
<a class="social-share-element social-digg" 
    href="http://digg.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" 
    target="_blank" title="Share this post on Digg"></a>
<a class="social-share-element social-reddit" 
    href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" 
    target="_blank" title="Share this post on Reddit"></a>
<a class="social-share-element social-stumble" 
    href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}" 
    target="_blank" title="Share this post on StumbleUpon"></a>
<a class="social-share-element social-weibo" 
    href="http://v.t.sina.com.cn/share/share.php?title=来自Viewstar`s%20Blog分享的文章：{% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}&url={{ url }}{% if page.titleImg != null %}&pic={{ page.titleImg }}{% endif %}" 
    target="_blank" title="Share this post on Sina Weibo"></a>
<a class="social-share-element social-douban" 
    href="http://shuo.douban.com/!service/share?href={{ site.url }}{{ page.url }}&name={% if page.subtitle != null %}{{ page.subtitle }} {% endif %}{{ page.title }}{% if page.titleImg != null %}&image={{ page.titleImg }}{% endif %}" 
    target="_blank" title="Share this post on Dounban"></a>
</div>
<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'viewstar'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
